.profile__name-button {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 1100px){
  .profile__name-button {
    justify-content: center;
  }
}
@media screen and (max-width: 767px){
  .profile__name-button {
    width: 224px;
  }
}