.popup {
  width: 430px;
  height: 330px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  left: calc(50% - 215px);
  top: calc(50% - 165px);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: none;
}

@media screen and (max-width: 625px){
  .popup {
    width: 282px;
    height: 322px;
    left: calc(50% - 141px);
    top: calc(50% - 161px);
  }
}