.profile__edit-button {
  background-color: #000000;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px){
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}