.profile__edit-button {
  background-color: #000000;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding: 0;
  background-image: url('../../../images/edit-symbol.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}
.profile__edit-button:hover {
  opacity: .6;
  transition: opacity .3s linear;
  cursor: pointer;
}
@media screen and (max-width: 625px){
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}