.profile__about {
  margin: 16px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}
@media screen and (max-width: 1100px) {
  .profile__about {
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}