.profile {
  color: #FFFFFF;
  width: 68.75%;
  margin: 40px auto 0 auto;
  display: flex;
}
@media screen and (max-width: 1100px){
  .profile {
    flex-direction: column;
    margin-top: 42px;
  }
}
@media screen and (max-width: 625px){
  .profile {
    width: 282px;
  }
}