.header {
  width: 68.75%;
  height: 74px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}
@media screen and (max-width: 553px){
  .header {
    width: 100%;
    height: 56px;
  }
}