.popup__name {
  margin-top: 54px;
  width: 100%;
  height: 27.26px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}
.popup__name::placeholder {
  color: #000000;
}
@media screen and (max-width: 500px){
  .popup__name {
    margin-top: 76px;
  }
}