.logo {
  /*
  background-image: url('../../images/header-image.svg');
  background-repeat: no-repeat; */
  width: 173px;
  height: 33px;
}
@media screen and (max-width: 553px){
  .logo {
    width: 126px;
    height: 24px;
    margin: 0 167px 32px 27px;
    border: 1px solid red;
  }
}