.popup__submit {
  margin-top: 48px;
  width: 100%;
  height: 50.15px;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  text-align: center;
}
.popup__submit:hover {
  opacity: .8;
  transition: opacity .3s linear;
  cursor: pointer;
}
@media screen and (max-width: 625px){
  .popup__name {
    margin-top: 46px;
  }
}