.profile__name {
  margin: 0 18px 0 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
}
@media screen and (max-width: 1100px) {
  .profile__name {
    text-align: center;
  }
}
@media screen and (max-width: 625px){
  .profile__name {
    font-size: 22px;
    line-height: 1.23;
    margin-right: 10px;
  }
}