.popup__about {
  margin-top: 29.74px;
  width: 100%;
  height: 27.34px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}
.popup__about::placeholder {
  color: #000000;
}
@media screen and (max-width: 500px){
  .popup__about {
    margin-top: 30px;
  }
}