.cards__like-button {
  background-image: url('../../../images/like-image.svg');
  background-position: center;
  background-color: #FFFFFF;
  width: 21px;
  height: 19px;
  border: none;
  margin: 6px 3px 5px 0;
}

.cards__like-button:hover {
  opacity: .5;
  transition: opacity .3s linear;
  cursor: pointer;
}