.popup__input {
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}
.popup__input::placeholder {
  color: #000000;
}
@media screen and (max-width: 625px){
  .popup__input {
    height: 26px;
  }
}