.cards__label {
  background-color: #FFFFFF;
  width: 100%;
  height: 79px;
  border-radius: 0 0 10px 10px;
  transform: translate(0, -3px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}