.popup__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
}
@media screen and (max-width: 625px){
  .popup__title {
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.22;
  }
}